<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Register</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}
</style>
</head>
<body>
	{{ alert }}
	<form action="/store/register/" method="post">
		{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		Username: 
		<input type="text" name="username" value="{{ username}}" /><br />
		Email: 
		<input type="text" name="email" value="{{ email }}" /><br />
		First Name: 
		<input type="text" name="first_name" value="{{ first_name }}" /><br />
		Last Name:
		<input type="text" name="last_name" value="{{ last_name }}" /><br />
		Password:
		<input type="password" name="password" value="" /><br />
		Confirm password:
		<input type="password" name="confirm_password" value="" /><br />

		<input type="submit" value="Log In" />
	</form>
</body>
</html>
