<head>
	<meta charset="utf-8">
	<title>update</title>
</head>
<body>
	<form action="/store/update/" method="post">
	    {% csrf_token %}
	    {{ form }}
		<input type="submit" value="Submit" />
	</form>
</body>
