<head>
	<meta charset="utf-8">
	<title>Upload csv file</title>
</head>
<body>
	<form action="/store/upload-csvfile/" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form }}
		<input type="submit" value="Submit" />
	</form>
</body>
