<head>
	<meta charset="utf-8">
	<title>welcome_manager</title>
</head>
<body>
	<h1>
	{{store}}
	</h1>
	<h2>
		Hello {{user.first_name}} {{user.last_name}}
	</h2>

	<table>
		{% for store_products in store.storeproduct_set.all %}
		<tr>
			<td> {{ store_products.product }} </td>
			<td> {{ store_products.cost_price }} </td>
			<td> {{ store_products.store_price }} </td>
			<td> {{ store_products.quantity_available }} </td>
			<td> {{ store_products.par_level }} </td>
		</tr>
		{% endfor %}
	</table>
</body>
