.navbar-wrapper {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 20;
}

.navbar-wrapper > .container {
padding-right: 0;
padding-left: 0;
}

.navbar-wrapper .navbar .container {
width: auto;
}

/* ===========custom css goes here====================== */
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.header-inset {
    display: block;
    position: absolute;
    background-color: #000000;
    right: 15px;
    left: 15px;
    z-index: 100;
    height: 110px;
}

.header-inset h2.site-title {
    display: block;
    position: absolute;
    z-index: 999;
    margin-bottom: 10px;
}
