<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Noques provides a self checkout mobile application for shoppers which makes their retail shopping experience delightful.">
    <title>Noques</title>
    <link href= "{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="navbar-wrapper">
        <div class="row header-inset">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <h2 class="site-title">Noques</h2>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="products-solutions.html">Products & Solutions</a></li>
                            <li><a href="company.html">Company</a></li>
                            <li><a href="investors.html">Investors</a></li>
                            <li><a href="contact-us.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h2><img width="978" height="300" src="{% static 'img/noques.jpg' %}"></h2>
            <h1>About Us</h1>
            <p>Noques provides a self checkout mobile application for shoppers which makes their retail shopping experience delightful. </p>
            <p>The most irritating part of the shopping experience is to wait in queues for checkout in retail stores. Noques helps shoppers to get rid of these queues by enabling them to use their mobile to scan products as they shop and then efficiently checkout. </p>
            <p>It also provides shopkeepers with mobile based inventory management system. With faster checkout and Noques inventory management system, shopkeepers can save valuable front-of-store space, installation cost, hardware cost and manpower. </p>
            <p>Noques target is to be the default inventory management system in complete retail sector of India. This provides us with a huge customer base of 40 million outlets with combined worth of $600 billion.</p>
        </div>
    </div>
</body>

</html>
